textarea{
    
        width: 100%;
        border-color: rgba(51,51,51,0.12);
        border: 1px solid rgba(51,51,51,0.12); 
        padding: 5px 15px 5px 15px;
        border-radius: 1px;
        font-size: 14px;
        line-height: 25px;
        color: gray;
        background-color: #fafafa;
        outline: none;
        height: 64px;
        min-height: 40px;
}