.footer{
    margin-top: 1rem;
    width: 100%;
    background:rgb(255 241 118) ;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 4px;
    font-weight: 300;
    justify-content: center;
}
.footer h6{
    font-size: 14px;
}
.img-social-footer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70px;
    height:auto;
    border-radius: 100%;
    align-items: center;
    justify-self: center;
}
