
.container_finalizar{
    background:#fff176;
    bottom:0;
    border-top:3px solid #eee;
    height:50px;
    position:sticky;
    width:100%;
    display:none;
    margin-top: 20px;
    border-radius: 5px;
}
.finalizar{
    cursor:pointer;
    align-items:center;
    display:flex;
    flex: 1 1 auto;
    height:100%;
    justify-content:center;
    text-decoration: none;
}
.finalizar h6{
  color: #000;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 540px){
    .container_finalizar{
        display:flex;
    }
}
