::-webkit-scrollbar{
  width: 7px;
  height: 100%;

}
::-webkit-scrollbar-thumb{
  background: rgb(255 241 118); 
  border-radius: 3px;
}

.carrito {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 70px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
    z-index: 1;
  }
  .carritotable {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 70px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 10000000000;
  }
  .menu {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 130px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
  }
  .tab {
    position: fixed;
    width: 100%;
    height: 0px;
    bottom: 68px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100000000;
  }
  #img-carta:hover{
  filter:  saturate(200%);
  }
  .block-xs{
    display: none;
  }
  .none-xs{
    display: contents;
  }
  .btn-navi{
    display: flex;
  }

@media(max-width:800px){
  html{
    font-size: 95%;
  }
}
@media screen and (max-width:353px){
  .none-xs{
    display: none;

  }
  .block-xs{
    display: block;
  }
}
@media screen and (max-width:854px){
  .btn-navi{
    display:  block;
  }
 
}